{:paths
 ["src"]

 :deps
 {com.fulcrologic/fulcro            {:mvn/version "3.7.5" :exclusions [org.clojure/clojurescript]}
  com.fulcrologic/fulcro-garden-css {:mvn/version "3.0.9"}
  com.wsscode/fuzzy                 {:mvn/version "1.0.0"}
  org.clojure/core.async            {:mvn/version "1.6.681"}}

 :aliases
 {:provided
  {:extra-deps
   {org.clojure/clojure       {:mvn/version "1.11.1"}
    org.clojure/clojurescript {:mvn/version "1.11.132"}
    thheller/shadow-cljs      {:mvn/version "2.28.3"}}}

  :dev
  {:extra-paths
   ["test" "workspaces"]

   :extra-deps
   {binaryage/devtools {:mvn/version "1.0.7"}}}}}
